*{
  margin:0;
  box-sizing: border-box;
  overflow: x-hidden;
}

body{
  margin-top: 1rem !important;
  width:700px;
  font-family: "Karla", sans-serif;
  margin: auto;
  height:auto;
  box-sizing: border-box;
  border:black solid;
  background:linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(130, 238, 235, 1) 91%);
}

.main{
  padding: 36px;
}

.main-container{
  background-image: radial-gradient( circle 763px at 18.3% 24.1%,  rgba(255,249,137,1) 7.4%, rgba(226,183,40,1) 58.3% );
}

.header{
  margin-bottom:30px;
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.logo{
  height:100%;
  margin-right:6px;
}
.title{
  margin-right:auto;
  font-size: 20px;
}
.text{
  font-size: 12px;
  font-weight: 500;
}

.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input{
  margin-left:10px;
  margin-right:10px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent:5px;
  font-weight: bold;
}

.form-button{
  margin-left: 20px;
  margin-right: 20px;
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border:none;
  cursor:pointer;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.meme {
  position: relative;
}

.meme--image {

  width: 100%;
  height: auto;
  padding:5px;
  border-radius:20px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}